Repository FreesmTeam/FreesmLauncher, pull requests merged in 2025-02, with the labels that each got.

#49 ci(cachix): make cachix not fallback
  .github/workflows/cachix.yml
  README.md
  nix/README.md
Labels: [0] : Freesm, [1] : Nix-related, [2] : Bug, [2] : Enhancement, [3] : Priority: Medium, [4] : Complexity: Easy, [5] : Status: Done, [8] : User: Developers, [9] : Bug: Performance, [7] : Component: Code (other), [6] : Platform: Not affecting, [10] : Pull Request

#47 build: update PKGBUILD
  PKGBUILD
Labels: [0] : Freesm, [2] : Feature, [3] : Priority: Medium, [4] : Complexity: Medium, [5] : Status: Done, [6] : Platform: Linux, [8] : User: End-Users, [7] : Component: Code (other), [10] : Pull Request, [9] : Bug: None

#50 ci(commitlint): rewrite commitlint
  .commitlintrc.ts
  .github/workflows/build.yml
  .github/workflows/cachix.yml
  .github/workflows/commitlint.yml
  .github/workflows/trigger_builds.yml
  .github/workflows/update-flake.yml
Labels: [0] : 3-rd Party, [0] : Freesm, [2] : Bug, [2] : Enhancement, [3] : Priority: Low, [4] : Complexity: Easy, [5] : Status: Done, [8] : User: Developers, [9] : Bug: Performance, [7] : Component: Code (other), [6] : Platform: Not affecting, [10] : Pull Request

#51 feat(snow): add snow
  launcher/Application.cpp
  launcher/Application.h
  launcher/ui/instanceview/InstanceView.cpp
  launcher/ui/instanceview/InstanceView.h
  launcher/ui/pages/global/LauncherPage.cpp
  launcher/ui/widgets/ThemeCustomizationWidget.cpp
  launcher/ui/widgets/ThemeCustomizationWidget.h
  launcher/ui/widgets/ThemeCustomizationWidget.ui
Labels: [0] : Freesm, [2] : Feature, [3] : Priority: Medium, [4] : Complexity: Medium, [5] : Status: Done, [6] : Platform: Cross-Platform, [7] : Component: UI, [8] : User: End-Users, [9] : Bug: Performance, [7] : Component: Code (other), [10] : Pull Request
