Repository FreesmTeam/FreesmLauncher, pull requests merged in 2025-01, with the labels that each got.

#14 fix(minecraft): improve handling of custom OpenAL and GLFW library paths
  launcher/minecraft/MinecraftInstance.cpp
Labels: [0]:Inner, [2]:PR

#17 fix(ui/instanceview): fix gif repaint
  launcher/ui/instanceview/InstanceView.cpp
Labels: [0]:Inner, [2]:PR

#21 feat(snow): improve snow behavior
  launcher/ui/instanceview/InstanceView.cpp
  launcher/ui/instanceview/InstanceView.h
Labels: [0] : Freesm, [2] : Feature, [2] : Bug, [2] : Enhancement, [3] : Priority: Medium, [4] : Complexity: Easy, [5] : Status: Ready for Review, [6] : Platform: Cross-Platform, [7] : Component: UI, [8] : User: End-Users, [9] : Bug: Performance

#23 feat(ci): add commitlint workflow
  .github/workflows/commitlint.yml
Labels: [0] : 3-rd Party, [0] : Freesm, [2] : Feature, [3] : Priority: Low, [4] : Complexity: Easy, [5] : Status: Ready for Review, [8] : User: Developers, [8] : User: Testers, [10] : Non-Urgent

#22 docs: update CODE_OF_CONDUCT.md and CONTRIBUTING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: [0] : Freesm, [2] : Documentation, [3] : Priority: Low, [4] : Complexity: Medium, [5] : Status: In Progress, [8] : User: Developers, [8] : User: Testers, [10] : Non-Urgent

#26 docs: update COPYING.md for Freesm Launcher
  COPYING.md
Labels: [0] : Freesm, [2] : Documentation, [3] : Priority: High, [4] : Complexity: Easy, [5] : Status: Ready for Review, [6] : Platform: Cross-Platform, [8] : User: Developers, [8] : User: End-Users, [8] : User: Testers, [10] : Urgent

#24 feat: update rss feed link
  CMakeLists.txt
Labels: [0] : Freesm, [2] : Feature, [3] : Priority: Low, [4] : Complexity: Easy, [5] : Status: Ready for Review, [6] : Platform: Cross-Platform, [7] : Component: UI, [8] : User: End-Users, [10] : Urgent

#36 feat(ci/cachix): add cachix as garnix fallback
  .github/workflows/cachix.yml
  README.md
  nix/README.md
Labels: [0] : 3-rd Party, [2] : Feature, [2] : Documentation, [3] : Priority: Medium, [4] : Complexity: Medium, [5] : Status: Ready for Review, [6] : Platform: Linux, [6] : Platform: macOS, [8] : User: Developers, [8] : User: End-Users, [10] : Urgent

#35 docs: update maintainers list
  MAINTAINERS.md
Labels: [0] : Freesm, [2] : Documentation, [3] : Priority: Low, [4] : Complexity: Easy, [5] : Status: Ready for Review, [10] : Non-Urgent

#33 feat(light-theme): implement custom light theme
  launcher/CMakeLists.txt
  launcher/resources/fluent/scalable/help.svg
  launcher/resources/fluent/scalable/new.svg
  launcher/resources/fluent/scalable/settings.svg
  launcher/ui/themes/FreesmLightTheme.cpp
  launcher/ui/themes/FreesmLightTheme.h
  launcher/ui/themes/FreesmTheme.cpp
  launcher/ui/themes/ThemeManager.cpp
Labels: [0] : Freesm, [2] : Feature, [3] : Priority: Low, [4] : Complexity: Medium, [5] : Status: Ready for Review, [6] : Platform: Cross-Platform, [7] : Component: UI, [8] : User: End-Users, [10] : Non-Urgent

#38 docs: update docs, prettify and just make better
  COPYING.md
  MAINTAINERS.md
  README.md
  README_russian.md
  nix/README.md
Labels: [0] : Freesm, [2] : Documentation, [3] : Priority: Low, [4] : Complexity: Medium, [5] : Status: Ready for Review, [8] : User: Developers, [8] : User: End-Users, [10] : Non-Urgent

#40 feat: merge feat/version format
  CMakeLists.txt
  buildconfig/Build.spec
  buildconfig/BuildConfig.cpp.in
  buildconfig/BuildConfig.h
  program_info/CMakeLists.txt
  program_info/freesmlauncher.manifest.in
  program_info/freesmlauncher.rc.in
  program_info/win_install.nsi.in
Labels: [0] : Freesm, [2] : Enhancement, [3] : Priority: High, [4] : Complexity: Medium, [5] : Status: Ready for Review, [6] : Platform: Cross-Platform, [10] : Urgent

#41 feat(flake): add cachix cache
  flake.nix
Labels: [0] : 3-rd Party, [0] : Freesm, [1] : Nix-related, [2] : Feature, [3] : Priority: Medium, [4] : Complexity: Easy, [5] : Status: Ready for Review, [5] : Status: Done, [6] : Platform: Linux, [6] : Platform: macOS, [8] : User: Developers, [8] : User: End-Users, [10] : Urgent
